
/*-------------------- div logo + titre DOSSIER PROFESSIONNEL ----------------*/
.greyBarsAndH1 {
    float: right;
}
.greyBarsAndH1>h1 {
    border-bottom: 3px solid #D3D3D3;
    margin:7px 0 5px 3px;
    text-align: left;
    padding: 0 0 7px 20px;
    font-family: 'Open Sans', 'Serif';
    font-size: 26pt;
}
.greyBarTop {
    background-color: #F2F2F2;
    width: 700px;
    height: 18px;
    border-bottom: 1px solid #D3D3D3;
}
.greyBarBottom {
    background-color: #F2F2F2;
    height: 45px;
}
.pinkLine {
    background-color: #D60093;
    height: 4px;
    margin : 3px 0 0 0;
}
.frenchRepublic {
    width: 120px;
}
.divTitlePage1 {
    width: 829px;
    margin: 0 auto;
}

/* ----------------div liste champs identité------------------------------- */
.greyBarTop2 {
    background-color: #F2F2F2;
    width: 700px;
    height: 8px;
    border-bottom: 1px solid #D3D3D3;
}
.identityDiv {
    width: 470px;
    margin: 50px 0 0 125px;
}
.spanData {
    color: black;
    font-family: 'Source Sans Pro', 'Serif';
}
.identityUl {
    color: #D60093;
    list-style: none;
    border-left: 4px solid #D60093;
    padding: 0 0 0 5px;
    font-style: italic;
    font-family: 'Open Sans';
    float: left;
}
.identityUl>li {
    margin: 0 0 5px 0;
    font-size: 14px;
}
.iconsList>li {
    margin: 0 0 6px 0;
}
.iconsList>li>i {
    font-size: 7px;
}
.fa-solid {
    margin: 0 0 0 10px;
}
.iconsList {
    float: right;
}
.iconsList {
    color: #D60093;
    list-style: none;
    padding: 0 0 0 8px;
}

/*------------------------ div Titre professionnel visé ---------------------*/

.divTitrePro {
    margin: 200px auto 0;
    width: 895px;
    color: white;
}
.titlePink {
    background-color: #D60093;
    text-align: center;
}
.h2TitrePro {
    padding: 3px 200px 3px 3px;
    font-size: 23px;
    margin-bottom: 5px;
    font-family: 'Open Sans';
    text-align: center;
}
.pinkDiv1 {
    background-color: #D60093;
    width: auto;
    height: 4px;
    margin : 7px 0 0 0;
}
.pinkDiv2 {
    background-color: #D60093;
    width: auto;
    height: 2px;
    margin : 40px 0 0 0;
}

/*------------------------ div Modalité d'accès---------------------*/

.divModalite {
    font-family: 'Open Sans';
    margin: 100px auto 300px;
    width: 675px;
    padding: 5px 5px 10px 5px;
    border: 1px solid lightgrey;
}
.divModalite>h3 {
    margin: 0 0 40px 0;
}
.divModalite>ul>li {
    list-style: none;
}

/*------------------------PAGE2-------------------------------------*/
/*------------------------div title page 2-------------------------*/

.divTitlePage2 {
    width: 700px;
    margin: 0 auto;
}
.divTitlePage2>.greyBarsAndH1>h2 {
    border-bottom: 3px solid #D3D3D3;
    margin:7px 0 5px 3px;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 16pt;
    text-align: center;
    padding-bottom: 5px;
}
.greyBarBottom2 {
    background-color: #F2F2F2;
    height: 35px;
    margin-top: 4px;
}

/*------------------------div presentation dossier-----------------------*/

.divTitrePro2 {
    margin: 175px 0 0 0;
    width: 895px;
    color: white;
}

/*------------------------div Presentation text----------------------------*/

.divPresentationText {
    border: 1px solid lightgrey;
    margin: 30px 0 0 0;
    border-top: 2px solid lightgrey;
    font-family: 'Source Sans Pro', 'Serif';
    padding-left: 7px;
    width: 680px;
}
.divPresentationText>div:first-child {
    background-color: #F2F2F2;
    font-size: 14px;
    width: 600px;
    margin: 0 auto 30px;
    padding: 0 7px 0 7px;
}
.spanBold {
    font-weight: bold;
}
.divPresentationText>div:nth-child(2)>ol li {
    counter-increment: list;
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 5px;
}
.divPresentationText>div:nth-child(2)>ol li:before {
    color: #D60093;
    content: counter(list) ".";
}
.paragraphItalic {
    font-style: italic;
    font-size: 12px;
    color: gray;
    margin: 17px 0 0 170px;
}
.spanItalic {
    margin-left: 290px;
}
.spanLi {
    margin-left: 10px;
}
.spanPro {
    margin-left: 24px;
}
.spanDiplome {
    margin-left: 27px;
}
.spanParcours {
    margin-left: 24px;
}
.divPresentationText>div:nth-child(3)>ul {
    margin-top: 0;
}
.divPresentationText>div:nth-child(3)>ul>li {
    list-style: none;
    font-size: 13px;
    margin-bottom: 8px;
}
.divPresentationText>div:nth-child(3)>ul>li>i {
    color: #D60093;
    margin-right: 7px;
    font-size: 7px;
}

/*------------------div Compléter dossier-------------------*/

.divCompleter {
    border-bottom: 1px solid lightgrey;
    margin: 60px 0 0 0;
    font-style: italic;
    font-family: 'Source Sans Pro', 'Serif';
    text-align: right;
    font-size: 13px;
    padding: 0 15px 9px 0;
}
.h3Url {
    font-family: 'Source Sans Pro', 'Serif';
    margin-left: 210px;
}
.triangleRose {
    margin-right: 10px;
}

/*-------------------------PAGE 3--------------------------*/
/*--------------------------div title page 3---------------*/

.divTitlePage3 {
    width: 700px;
    margin: 30px auto;
}
.divTitlePage3>.greyBarsAndH1>h2 {
    border-bottom: 3px solid #D3D3D3;
    margin:7px 0 5px 3px;
    font-family: 'Open Sans', Serif;
    font-weight: 100;
    font-size: 16pt;
    text-align: center;
    padding-bottom: 5px;
}

/*--------------------------div Sommaire---------------------*/

.divSommaire {
    color: #D60093;
    border-bottom: 4px solid #D60093;
    font-family: 'Open Sans', Serif;
    margin: 150px 0 0 0;
    width: 700px;
}
.divSommaire>h2 {
    font-size: 28px;
    margin: 0;
}
.exemplePratique {
    font-family: 'Source Sans Pro', 'Serif';
    margin: 25px 0 25px 11px;
}
.divIntitule>h4 {
    padding: 7px 0 7px 5px;
    font-size: 15px;
    margin-bottom: 0;
}
.spanSommaireTitle {
    width: 500px;
    position: relative;
}
.divIntitule {
    background-color: #F2F2F2;
    border-left: 3px solid #D60093;
    font-family: 'Source Sans Pro', 'Serif';
    width: 700px;
}
.divExemple {
    border-left: 1px solid #F2F2F2;
    width: 688px;
    margin-left: 20px;
}
.divExemple>ul {
    list-style: none;
    font-family: 'Source Sans Pro', 'Serif';
    font-size: 14px;
    margin: 0;
    padding-left: 8px;
}
.divExemple>ul>li {
    padding: 7px 0;
    position: relative;
}
.divExemple>ul>li>i {
    color: #D60093;
    font-size: 7px;
}
.divExemple>ul>li>span {
    display: inline-block;
    width: 400px;
}
.spanPage {
    position: absolute;
    left: 563px;
}
.spanPageBold {
    font-size: 15px;
    position: absolute;
    left: 500px;
    top: 2700px;
}
.spanPageBoldAt1 {
    font-size: 15px;
    position: absolute;
    left: 600px;
    top: 2340px;
}
.spanPageBoldAt2 {
    font-size: 15px;
    position: absolute;
    left: 600px;
    top: 2500px;
}
.spanPageBoldAt3 {
    font-size: 15px;
    position: absolute;
    left: 600px;
    top: 2670px;
}
.spanPageBoldAt4 {
    font-size: 15px;
    position: absolute;
    left: 600px;
    top: 2816px;
}
.divAnnexes3 {
    border-left: 3px solid #D60093;
    font-family: 'Source Sans Pro', 'Serif';
    width: 700px;
    margin-bottom: 150px;
}
.divAnnexes3>h4 {
    padding: 7px 0 0 5px;
    font-size: 15px;
    margin-bottom: 0;
    position: relative;
}
.divAnnexes4 {
    border-left: 3px solid #D60093;
    font-family: 'Source Sans Pro', 'Serif';
    width: 700px;
}
.divAnnexes4>h4 {
    padding: 7px 0 0 5px;
    font-size: 15px;
    margin-bottom: 0;
    position: relative;
}
.divAnnexes2 {
    border-left: 3px solid #D60093;
    font-family: 'Source Sans Pro', 'Serif';
    width: 700px;
    margin-bottom: 332px;
}
.divAnnexes2>h4 {
    padding: 7px 0 0 5px;
    font-size: 15px;
    margin-bottom: 0;
    position: relative;
}
.divAnnexes1 {
    border-left: 3px solid #D60093;
    font-family: 'Source Sans Pro', 'Serif';
    width: 700px;
    margin-bottom: 500px;
}
.divAnnexes1>h4 {
    padding: 7px 0 0 5px;
    font-size: 15px;
    margin-bottom: 0;
    position: relative;
}
.h4NoMargin {
    margin-top: 0;
}
.spanPageBold2 {
    position: absolute;
    left: 586px;
}

/*------------------------PAGE 4-----------------------------*/

.titleExemples {
    text-align: center;
    padding: 0 0 7px 20px;
    font-family: 'Open Sans', 'Serif';
    font-size: 36pt;
    margin: 350px 0 545px 0;
}
/*-------------------------PAGE 5-----------------------------*/
.divTitlePage4 {
    width: 700px;
    margin: 0 auto 100px;
}
.divTitlePage4>.greyBarsAndH1>h2 {
    border-bottom: 3px solid #D3D3D3;
    margin:7px 0 5px 3px;
    font-family: 'Open Sans', Serif;
    font-weight: 100;
    font-size: 16pt;
    text-align: center;
    padding-bottom: 5px;
}
.divActiviteExemple {
    position: relative;
}
.h2Activite {
    font-family: 'Open Sans', 'Serif';
    color: #D60093;
    margin: 126px 0 16px 20px;
    width: 200px;
}
.spanActivitetitle {
    font-family: 'Open Sans', 'Serif';
    color: black;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 200px;
}
.spanExempleNumero {
    font-style: italic;
    font-weight: bold;
    margin: 0 0 0 113px;
    font-size: 12px;
    font-family: 'Open Sans', 'Serif';
}
.iconExemple {
    margin-left: 7px;
}
.iconExemple>i {
    font-size: 7px;
}
.icon {
    color: #D60093;
}
.pinkDiv3 {
    background-color: #D60093;
    width: 700px;
    height: 4px;
    margin : 7px 0 0 0;
}
.pinkDiv4 {
    background-color: #D60093;
    width: 700px;
    height: 2px;
    margin : 3px 0 0 0;
}
.divExempleDescription {
    margin: 40px 0 58px 0;
    font-family: 'Open Sans', 'Serif';
    font-size: 13px;
}
.exempleDescription {
    border-bottom: 2px solid #D60093;
    border-left: 3px solid #D60093;
    width: 700px;
}
.exempleContent {
    width: 679px;
    height: 700px;
    border: 1px solid #dad9d9;
    font-family: 'Source Sans Pro', 'Serif';
    font-size: 15px;
    padding: 0 5px 0 5px;
}
.divExempleContent {
    width: 665px;
    margin: 10px auto 0;
    line-height: 23px;
}
/*-----------------------PAGE6---------------------*/

.divTitlePage5 {
    width: 700px;
    margin: 0 auto 120px auto;
}
.divTitlePage5>.greyBarsAndH1>h2 {
    border-bottom: 3px solid #D3D3D3;
    margin:7px 0 5px 3px;
    font-family: 'Open Sans', Serif;
    font-weight: 100;
    font-size: 16pt;
    text-align: center;
    padding-bottom: 5px;
}
.divExempleDescription2 {
    margin: 0 0 20px 0;
    font-family: 'Open Sans', 'Serif';
    font-size: 13px;
}
.divExempleDescription3 {
    margin: 0 0 161px 0;
    font-family: 'Open Sans', 'Serif';
    font-size: 13px;
}
.exempleDescription2 {
    border-bottom: 2px solid #D60093;
    border-left: 3px solid #D60093;
    width: 700px;
}
.exempleContent2 {
    width: 679px;
    height: 150px;
    border: 1px solid #dad9d9;
    font-family: 'Source Sans Pro', 'Serif';
    font-size: 15px;
    padding: 0 5px 0 5px;
}

/*----------------------Page 29--------------------*/

.divTitrePro3 {
    margin: 245px 0 0 0;
    width: 895px;
    color: white;
}
.facultatif {
    margin: 7px 0 0 300px;
    color: black;
    font-family: 'Source Sans Pro', 'Serif';
    font-size: 17px;
    font-style: italic;
}
.titreDiplome {
    border-collapse: collapse;
    width: 100%;
    margin: 40px 0 230px 5px;
}
.titreDiplome, td, th {
    border: 1px solid #dad9d9;
}

th {
    height: 30px;
    text-align: center;
    background-color: #f1f0f0;
    font-family: 'Open Sans', 'Serif';
}
.thAutorite {
    width: 50%;
}
.thOther {
    width: 25%;
}
td {
    height: 40px;
}

/*--------------------Page 30---------------------*/

.paragrapheDeclaration {
    font-family: 'Source Sans Pro', 'Serif';
    margin: 150px 0 310px 40px;
}

/*--------------------Page 31---------------------*/

.titreDiplome2 {
    border-collapse: collapse;
    width: 100%;
    margin: 40px 0 210px 8px;
}
.titreDiplome2, td, th {
    border: 1px solid #dad9d9;
}
.titreDiplome2>tbody>tr>td {
    height: 50px;
}
.titreDiplome2>thead>tr>th {
    text-align: left;
    padding-left: 5px;
}

/*--------------------Page 32---------------------*/

.h2TitrePro2 {
    padding: 3px 200px 3px 3px;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Open Sans';
    text-align: center;
}
.facultatif2 {
    margin: 7px 0 0 280px;
    color: black;
    font-family: 'Source Sans Pro', 'Serif';
    font-size: 17px;
    font-style: italic;
}
.divAnnexesList {
    font-family: 'Source Sans Pro', 'Serif';
    text-align: center;
    margin: 20px auto 0;
}
.divAnnexesList>div {
    margin: 20px 0;
}
.divAnnexesList>div>dt {
    margin: 7px 0;
}
.divAnnexesList>div>dt:nth-child(odd) {
    font-weight: bold;
}